<div class="player" appTimelineKeyHandler>

    <div class="top-section">

        <div class="canvas" [ngClass]="{ 'canvas-2': openSecondLayer }">
            <ng-content select="[canvas]"></ng-content>
        </div>

        <div class="control" *ngIf="openSecondLayer">
            <ng-content select="[control2]"></ng-content>
        </div>

        <div class="control">
            <ng-content select="[control]"></ng-content>
        </div>
    </div>

    <div class="time-line">
        <ng-content select="[timeLine]"></ng-content>
    </div>
</div>