<div class="properties-container">

    <form [formGroup]="propertyForm" (ngSubmit)="submitForm()">

        <div class="fields-container">

            <!-- In View / Fullscreen -->
            <div class="property-box">

                <app-form-field label="Auto Save" class="property-box-by-3">
                    <ng-container formFieldControl>
                        <input [ngModelOptions]="{standalone: true}" class="non-form-control" type="checkbox" [(ngModel)]="autoSave">
                    </ng-container>
                </app-form-field>

                <app-form-field label="In View" class="property-box-by-3">
                    <ng-container formFieldControl>
                        <input type="checkbox" formControlName="isInView">
                    </ng-container>
                </app-form-field>

                <app-form-field label="Fullscreen" class="property-box-by-3">
                    <ng-container formFieldControl>
                        <input type="checkbox" formControlName="isFullScreen">
                    </ng-container>
                </app-form-field>

            </div>

            <!-- Dimension, Position -->
            <div class="property-group-box">

                <!-- Dimension -->
                 <div class="group-property group-by-2">
                    <div class="property-header-box">
                        Dimension
                    </div>
                    <div class="property-box">

                        <app-form-field label="Relative Width" info="View Width" [shortInfoNeeded]="true">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="relativeWidth">
                            </ng-container>
                        </app-form-field>

                        <app-form-field label="Relative Height" info="View Width" [shortInfoNeeded]="true">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="relativeHeight">
                            </ng-container>
                        </app-form-field>

                    </div>
                </div>


                <!-- Position -->
                 <div class="group-property group-by-2">
                    <div class="property-header-box">
                        Position
                    </div>
                    <div class="property-box">

                        <app-form-field label="Relative Left" info="%">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="relativeLeft">
                            </ng-container>
                        </app-form-field>

                        <app-form-field label="Relative Top" info="%">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="relativeTop">
                            </ng-container>
                        </app-form-field>

                    </div>
                </div>

            </div>

            <!-- Play Length -->
            <div class="property-header-box">
                Play End Time
            </div>
            <div class="property-box">
                <mat-slider
                    class="spacer"
                    [max]="endTime * this.timeMultiplier"
                    [min]="time * this.timeMultiplier"
                    [step]="timeMultiplier"
                    [discrete]="true">
                <input matSliderThumb [formControl]="propertyForm.controls['endTime']" [value]="propertyForm.controls['endTime'].value" #slider>
                </mat-slider>

                <app-form-field label=" " info="Unit Time" [shortInfoNeeded]="true">
                    <ng-container formFieldControl>
                        <input type="number" class="property-mini-half" formControlName="endTime" [value]="propertyForm.controls['endTime'].value">
                    </ng-container>
                </app-form-field>
            </div>

            <!-- Translate, Rotate -> X,Y,Z -->
            <div class="property-group-box">

                <!-- Translate X,Y,Z -->
                 <div class="group-property group-by-2">
                    <div class="property-header-box">
                        Translate
                    </div>
                    <div class="property-box">

                        <app-form-field label="X Axis" info="Pixels" infoShortForm="px">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="translateX">
                            </ng-container>
                        </app-form-field>

                        <app-form-field label="Y Axis" info="Pixels" infoShortForm="px">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="translateY">
                            </ng-container>
                        </app-form-field>

                        <app-form-field label="Z Axis" info="Pixels" infoShortForm="px">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="translateZ">
                            </ng-container>
                        </app-form-field>

                    </div>
                </div>


                <!-- Rotate X,Y,Z -->
                 <div class="group-property group-by-2">
                    <div class="property-header-box">
                        Rotate
                    </div>
                    <div class="property-box">

                        <app-form-field label="X Axis" info="Degrees" infoShortForm="deg">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="rotateX">
                            </ng-container>
                        </app-form-field>

                        <app-form-field label="Y Axis" info="Degrees" infoShortForm="deg">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="rotateY">
                            </ng-container>
                        </app-form-field>

                        <app-form-field label="Z Axis" info="Degrees" infoShortForm="deg">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="rotateZ">
                            </ng-container>
                        </app-form-field>

                    </div>
                </div>

            </div>

            <!-- Opacity -->
            <div class="property-header-box">
                Opacity
            </div>
            <div class="property-box">
                <mat-slider
                    class="spacer"
                    [max]="1"
                    [min]="0"
                    [step]="0.1"
                    [discrete]="true">
                <input matSliderThumb [formControl]="propertyForm.controls['opacity']" [value]="propertyForm.controls['opacity'].value" #slider>
                </mat-slider>

                <app-form-field label=" ">
                    <ng-container formFieldControl>
                        <input type="number" class="property-mini-half" formControlName="opacity" [value]="propertyForm.controls['opacity'].value">
                    </ng-container>
                </app-form-field>
            </div>

            <!-- Skew, Scale -->
            <div class="property-group-box">


                <!-- Scale X,Y,Z -->
                 <div class="group-property group-by-2">
                    <div class="property-header-box">
                        Scale
                    </div>
                    <div class="property-box">

                        <app-form-field label="X Axis">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="scaleX">
                            </ng-container>
                        </app-form-field>

                        <app-form-field label="Y Axis">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="scaleY">
                            </ng-container>
                        </app-form-field>

                    </div>
                </div>

                <!-- Skew -->
                 <div class="group-property group-by-2">
                    <div class="property-header-box">
                        Skew
                    </div>
                    <div class="property-box">

                        <app-form-field label="X Axis" info="Degrees" infoShortForm="deg">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="skewX">
                            </ng-container>
                        </app-form-field>

                        <app-form-field label="Y Axis" info="Degrees" infoShortForm="deg">
                            <ng-container formFieldControl>
                                <input type="number" formControlName="skewY">
                            </ng-container>
                        </app-form-field>

                    </div>
                </div>

            </div>

        </div>

        <br>

        <div class="action">
            <button mat-raised-button type="button" (click)="onCancel.emit()">
                Cancel
            </button>
            &nbsp;
            <button mat-raised-button color="primary" [disabled]="!propertyForm.dirty || !propertyForm.valid">
                Save
            </button>
        </div>

    </form>
</div>