@import '../../../styles/style-constants.scss';

.form-field-container {
    width: 100%;
    font-size: $form-control-label;
    display: flex;
    flex-direction: column;

    .label-container {
        color: gray;
        width: 90%;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 10px;
        padding-top: 7px;
        display: flex;

        .label {
            flex: 1 auto;
        }

        .label-info {
            font-size: smaller;
        }
    }

    .form-control {
        width: 100%;
        padding-bottom: 3px;
        line-height: 10px;
        text-align: left;

        ::ng-deep input {
            max-width: 90%;
        }

        ::ng-deep select {
            max-width: 90%;
            width: 90%;
        }
    }
}