<div class="time-line-container">
    <table class="time-line">
        <tr>
            @for (time of arrTime; track time) {
                <td class="time" [ngClass]="{
                    'time-with-label': time === 0 || time % minimumNumDisplayLength === 0,
                    'current-time': timelineService.currentTime.value === time
                }" (click)="changeCurrentTime(time)">
                    @if (time === 0 || time % minimumNumDisplayLength === 0) {
                        <span class="time-label">
                            {{ time }}
                        </span>
                    }
                </td>
            }
        </tr>
        <tr>
            <td [attr.colspan]="arrTime.length">
            </td>
        </tr>
    </table>
    <div class="time-line-status">

        <div class="status-blocks">

            <!-- Current Time -->
            <div class="stat-block">
                <div class="label">Time</div>
                <div class="value"><pre class="time-display">{{ timelineService.currentTime.value | spacePadded:4 }}</pre></div>
            </div>

            <!-- Reset -->
            <div class="stat-block">
                <button mat-icon-button (click)="timelineService.timeToZero()">
                    <mat-icon>restart_alts</mat-icon>
                </button>
            </div>


            <!-- Play / Pause -->
            <div class="stat-block">
                <button mat-icon-button color="primary" (click)="playPause()">
                    <mat-icon>
                        {{
                            timelineService.playing ? 'pause_circle' : 'not_started'
                        }}
                    </mat-icon>
                </button>
            </div>

            <!-- Standard Speed -->
            <div class="stat-block">
                <div class="label">Standard Speed</div>
                <div class="value"><input type="number" [(ngModel)]="timelineService.standardSpeed"></div>
            </div>

            <!-- Playback Speed -->
            <div class="stat-block">
                <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [value]="timelineService.selectedSpeed" (change)="changePlaybackSpeed($event)">
                    @for (speed of timelineService.speedRange; track speed) {
                        <mat-button-toggle [value]="speed" class="play-back-speed" (click)="timelineService.setPlaybackSpeed(speed)"
                        [ngClass]="{
                            'selected-placback-speed': timelineService.selectedSpeed.key === speed.key
                        }">
                            {{ speed.key }}
                        </mat-button-toggle>
                    }
                </mat-button-toggle-group>
            </div>

        </div>
    </div>

</div>