@import '../../styles/style-constants.scss';

.time-line-container {
    width: 100%;
    height: 100%;
    font-size: $time-line-font-size !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .time-line-table {
        overflow-x: auto;
        height: -webkit-fill-available;

        .time-line {
            width: 100%;
            min-height: 50px;
            position: relative;

            .time {
                height: 20px;
                border-right: solid 1px #808080;
                cursor: pointer;
                position: relative;
                min-width: 3.5px;

                .selected-layer-container {
                    position: absolute;
                    z-index: 100000;
                    left: -1px;

                    &.projection-start-container {
                        z-index: 101000;
                    }

                    &.projection-repeat-start-container {
                        z-index: 101000;
                    }

                    .selected-layer {
                        width: 20px;
                        height: 20px;
                        background-color: transparent;
                        border: solid;
                        right: 0;
                        border-width: 1px !important;
                        border-color: #000000;
                        border-radius: 50%;
                        margin-top: -13px;
                        background-color: #dbedd9;
                        cursor: pointer;

                        &.projected {
                            border-color: #494949;
                            border: dotted;
                            opacity: 0.5;
                        }

                        &.projection-start {
                            border-width: 3px !important;
                            cursor: move;
                        }

                        &.projection-repeat {
                            border-width: 3px !important;
                            border-style: dotted;
                        }
                    }
                }

                .time-label {
                    position: absolute;
                    z-index: 1;
                    margin-top: 12px;
                }

                &.time-with-label {
                    border-width: 1px;
                    border-color: #000000;
                }

                &.current-time {
                    background-color: red !important;
                    border-color: red;
                }

                &.max-play-time {
                    background-color: #d7ccff;
                }

                &.recorded-time {
                    background-color: green;
                }

                &.projected-time {
                    background-color: green;
                }
            }
        }
    }

    .time-line-status {
        display: flex;
        background-color: #3f51b5;
        background: linear-gradient(90deg, rgba(14,233,234,1) 0%, rgba(7,4,248,1) 50%, rgba(14,233,234,1) 100%);
        padding: 3px;

        .status-blocks {
            margin: auto;
            display: flex;
            padding-left: 10px;
            padding-right: 10px;
            background-color: white;

            .stat-block {
                display: flex;
                padding-left: 10px;
                padding-right: 10px;
                font-size: $time-line-font-size;

                &.no-padding {
                    padding: 0px;

                    button {
                        padding: 0px;

                        .mat-icon {
                            font-size: 48px;
                            width: 48px;
                            height: 48px;
                        }
                    }
                }

                .standard-speed-input {
                    width: 70px;
                }

                .label {
                    font-size: $time-line-font-size;
                    font-weight: bold;
                    padding: 2px;
                    margin: auto;
                }

                .value {
                    font-size: $time-line-font-size;
                    padding: 2px;
                    margin: auto;
                }

                .mat-button-toggle-group {
                    height: 20px;
                    margin: auto;

                    .play-back-speed {
                        font-size: $time-line-font-size;
                        height: 20px;

                        ::ng-deep .mat-button-toggle-button {
                            height: 20px;

                            .mat-button-toggle-label-content {
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.selected-placback-speed {
    background-color: #8ff1f3 !important;
}

.calc-block {
    display: flex;
    border: solid 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

    .block {
        min-width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;

        &.double-font {
            font-size: 2rem;
            font-weight: bold;
        }

        &.calc-result {
            font-size: 1.2rem;
            font-weight: bold;
            color: green;
        }

        .fps {
            font-size: 0.6rem;
            position: absolute;
            margin-top: 15px;
            font-weight: 100;
            line-height: 30px;
            color: black;
        }

        .up {
            border-bottom: solid 1px;
        }

        .up,
        .down {
            flex: 1 auto;
            padding: 10px;
        }

        &.left-brace {
            border: solid 1px;
            border-right: none;
        }

        &.right-brace {
            border: solid 1px;
            border-left: none;
        }
    }

    &.error {
        color: red;
        border-color: red;

        .calc-result {
            color: red;

            .fps {
                color: red;
            }
        }
    }
}

::ng-deep .drag-preview {
    height: 20px;
    width: 20px;
    overflow: hidden;
}