<div class="time-line-container">
    <table class="time-line">
        <tr>
            @for (time of arrTime; track time) {
                <td class="time" [ngClass]="{
                    'time-with-label': time === 0 || time % minimumNumDisplayLength === 0,
                    'current-time': timelineService.currentTime.value === time
                }" (click)="changeCurrentTime(time)">
                    @if (time === 0 || time % minimumNumDisplayLength === 0) {
                        <span class="time-label">
                            {{ time }}
                        </span>
                    }
                </td>
            }
        </tr>
        <tr>
            <td [attr.colspan]="arrTime.length">
            </td>
        </tr>
    </table>
    <div class="time-line-status">

        <div class="status-blocks">
    
            <!-- Current Time -->
            <div class="stat-block">
                <app-form-field label="Time">
                    <ng-container formFieldControl>
                            <input type="number" disabled
                            [ngModel]="timelineService.currentTime.value"
                            class="time-display"
                            id="time-display">
                    </ng-container>
                </app-form-field>
            </div>
            
            <!-- Reset -->
            <div class="stat-block no-padding">
                <button mat-icon-button (click)="timelineService.timeToZero()">
                    <mat-icon>restart_alts</mat-icon>
                </button>
            </div>
            
            <!-- Play / Pause -->
            <div class="stat-block no-padding">
                <button mat-icon-button [color]="timelineService.playing ? 'warn' : 'primary'" (click)="playPause()" class="play-pause-icon">
                    <mat-icon>
                        {{ timelineService.playing ? 'pause_circle' : 'not_started' }}
                    </mat-icon>
                </button>
            </div>
            
            <!-- Recording -->
            <div class="stat-block no-padding">
                <button mat-icon-button [color]="recordingService.recording.value ? 'warn' : 'primary'" (click)="toggleRecording()" class="play-pause-icon">
                    <mat-icon>
                        {{ recordingService.recording.value ? 'stop_circle' : 'radio_button_checked' }}
                    </mat-icon>
                </button>
            </div>
            
            <!-- Setting -->
            <div class="stat-block no-padding">
                <button mat-icon-button color="primary" class="play-pause-icon" (click)="handleSettingClick()">
                    <mat-icon>settings</mat-icon>
                </button>
            </div>

        </div>
    </div>

</div>

<ng-template #settings>

    <div class="cover">
        <app-popup-header title="Settings" (onCloseTrigger)="dialogRef?.close()">
        </app-popup-header>
    
        <div class="flex-display standard-padding">
            <!-- Standard Speed -->
            <div class="stat-block">
                <app-form-field label="Standard Speed">
                    <ng-container formFieldControl>
                        <input type="number" [(ngModel)]="timelineService.standardSpeed" class="standard-speed-input">
                    </ng-container>
                </app-form-field>
            </div>
    
            <!-- Frame Per Unit Time -->
            <div class="stat-block">
                <app-form-field label="Frame / Unit Time">
                    <ng-container formFieldControl>
                        <input type="number" [(ngModel)]="timelineService.framesPerUnitTime" class="standard-speed-input">
                    </ng-container>
                </app-form-field>
            </div>
    
        </div>
    
        <!-- Playback Speed -->
        <div class="stat-block standard-padding">
            <app-form-field label="Playback Speed">
                <ng-container formFieldControl>
                    <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [value]="timelineService.selectedSpeed"
                    class="auto-margin"
                        (change)="changePlaybackSpeed($event)">
                        @for (speed of timelineService.speedRange; track speed) {
                        <mat-button-toggle [value]="speed" class="play-back-speed" (click)="timelineService.setPlaybackSpeed(speed)"
                            [ngClass]="{
                                'selected-placback-speed': timelineService.selectedSpeed.key === speed.key
                            }">
                            {{ speed.key }}
                        </mat-button-toggle>
                        }
                    </mat-button-toggle-group>
                </ng-container>
            </app-form-field>
        </div>
    </div>

</ng-template>