@import '../../styles/style-constants.scss';

.time-line-container {
    width: 100%;
    height: 100%;
    font-size: $time-line-font-size !important;
    overflow-x: auto;

    .time-line {
        width: 100%;
        min-height: 50px;
        position: relative;

        .time {
            height: 20px;
            border-right: solid 1px #000000;
            cursor: pointer;

            .time-label {
                position: absolute;
                z-index: 1;
                margin-top: 12px;
            }

            &.time-with-label {
                border-width: 1px;
                border-color: #ff0526;
            }

            &.current-time {
                background-color: red;
                border-color: red;
            }
        }
    }

    .time-line-status {
        position: absolute;
        display: flex;
        width: 100%;

        .status-blocks {
            margin: auto;
            display: flex;

            .stat-block {
                display: flex;
                padding-left: 10px;
                padding-right: 10px;
                font-size: $time-line-font-size;

                &.no-padding {
                    padding: 0px;

                    button {
                        padding: 0px;
    
                        .mat-icon {
                            font-size: 48px;
                            width: 48px;
                            height: 48px;
                        }
                    }
                }

                .label {
                    font-size: $time-line-font-size;
                    font-weight: bold;
                    padding: 2px;
                    margin: auto;
                }

                .value {
                    font-size: $time-line-font-size;
                    padding: 2px;
                    margin: auto;
                }

                .mat-button-toggle-group {
                    height: 20px;
                    margin: auto;

                    .play-back-speed {
                        font-size: $time-line-font-size;
                        height: 20px;
    
                        ::ng-deep .mat-button-toggle-button {
                            height: 20px;

                            .mat-button-toggle-label-content {
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}