<div class="image-upload-container" *ngIf="pictureFormControl">

    <input #fileInput id="fileInput" type="file" [formControl]="pictureControl" [accept]="acceptFileTypes" (change)="handlePictureUpload($event)" style="display: none">

    @if (pictureFormControl.value) {
        <div class="image-display" *ngIf="pictureFormControl.value" (click)="fileInput.click()">
            <app-option-icon [file]="pictureFormControl.value" [optionType]="optionType"></app-option-icon>
        </div>
    } @else {
        <button mat-icon-button type="button" class="image-display" (click)="fileInput.click()">
            <mat-icon>{{ optionType | optionTypeIcon }}</mat-icon>
        </button>
    }
</div>