<div class="image-upload-container" *ngIf="fileFormControl">

    <input #fileInput id="fileInput" type="file" [formControl]="fileControl" [accept]="acceptFileTypes" (change)="handleFileUpload($event)" style="display: none">

    @if (fileFormControl.value) {
        <div class="image-display" (click)="fileInput.click()">
            <app-option-icon [file]="fileFormControl.value" [optionType]="optionType" [thumbnail]="thumbnail"></app-option-icon>
        </div>
    } @else {
        <button mat-icon-button type="button" class="image-display" (click)="fileInput.click()">
            <mat-icon>{{ optionType | optionTypeIcon }}</mat-icon>
        </button>
    }
</div>