.video-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 1px #7eaa19;
    overflow: hidden;
    display: flex;
    background-color: white;

    img {
        width: 100%;
        margin: auto;
    }

    .mat-mdc-progress-spinner {
        width: inherit !important;
        height: inherit !important;
    }
}