@import '../../../../styles/style-constants.scss';

.animation-container {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;

    form {
        width: 100%;
        height: calc(100% - 10px);
        display: flex;
        flex-direction: column;

        .fields-container {
            flex: 1 auto;

            .property-header-box {
                font-size: $form-control-header;
                padding-top: 15px;
                letter-spacing: 1px;
                color: #0207e9;
                line-height: 10px;
            }
    
            .property-box {
                display: flex;
    
                .property-box-by-3 {
                    width: 33%;
                }
    
                .property-box-half {
                    width: 50%;
                }
    
                .property-item-full {
                    width: calc(100% - 20px);
                }
    
                .property-item-100 {
                    width: 100%;
                }

                .property-mini-half {
                    width: 50px;
                }
            }

            .property-group-box {
                display: flex;

                .group-property {
                    display: flex;
                    flex-direction: column;

                    &.group-by-2 {
                        width: 50%;
                    }
    
                    &.group-by-3 {
                        width: 30%;
                    }

                    .property-box {
                        flex-direction: column;
                    }
                }
            }
        }

        .action {
            text-align: end;
        }
    }
}

.frame-row-container {
    width: 100%;
    display: flex;
    font-size: $form-control-label;
    border-bottom: solid 1px $primary-border-color;

    &.disabled {
        background-color: #dbdbdb;
        color: gray;
    }

    .frame-row-name {
        flex: 1 auto;
        margin: auto;
        padding-left: 10px;
        white-space: nowrap;
    }

    .frame-row-percent {
        flex: 1 auto;
        margin: auto;
        padding-left: 10px;
    }
}

::ng-deep .frame-style-dialog {
    z-index: 2000000 !important;
    height: calc(100% - $timeline-height) !important;
    margin-right: auto;
}

::ng-deep .delete-dialog {
    z-index: 3000000 !important;
}

.frame-style-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .frame-style-title {
        padding:  0px !important;
        height: 64px;
    }

    .frame-style-fields {
        flex: 1 auto;
        overflow: auto;
    }
}