<div class="layer-display-container" *ngIf="!hasNoMatch && layer" matRipple (click)="onCLick.emit()"
    [ngClass]="{
        'selected': isSelected,
        'isProjected': layer.isProjected || isBroken
    }">
    <div class="image-display">
        @if (!isBroken) {
            <app-image-icon [image]="layerOption?.image"></app-image-icon>
        } @else {
            <mat-icon color="warn">error</mat-icon>
        }
    </div>
    @if (!isBroken) {
        <div class="layer-option-name"> {{ layerMember?.name }} - {{ layerOption?.name }}</div>
    } @else{
        <div class="layer-option-name">Broken Link</div>
    }
    <div class="action">
        <button mat-icon-button *ngIf="layer.isProjected"
        matTooltip="{{ 'Got to time ' + layer.projectionStartTime + ' to view start of projection' }}"
        (click)="onGoToProjectionStart.emit()">
            <mat-icon>
                link
            </mat-icon>
        </button>
        <button mat-icon-button (click)="handleDeleteClick(layer, $event)" [color]="!isBroken ? '' : 'warn'">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </div>
</div>
<div class="layer-control-container" *ngIf="hasNoMatch">
    Layer to Book connection is broken.
</div>