<div class="layer-display-container" *ngIf="!hasNoMatch && layer" matRipple (click)="handleCLick()"
    [ngClass]="{
        'selected': isSelected,
        'isProjected': layer.isProjected || isBroken
    }">
    <div class="image-display">
        @if (!isBroken) {
            <app-option-icon [file]="layerOption?.file" [optionType]="layerOption?.type" (onIconClick)="handleIconClick()"></app-option-icon>
        } @else {
            <mat-icon color="warn">error</mat-icon>
        }
    </div>
    @if (!isBroken) {
        <div class="layer-option-name"> {{ layerMember?.name }} - {{ layerOption?.name }}</div>
    } @else{
        <div class="layer-option-name">Broken Link</div>
    }
    <div class="action">
        <button mat-icon-button *ngIf="layer.isProjected"
        matTooltip="{{ 'Got to time ' + layer.projectionStartTime + ' to view start of projection' }}"
        (click)="onGoToProjectionStart.emit()">
            <mat-icon>my_location</mat-icon>
        </button>
        <button mat-icon-button (click)="$event.stopPropagation()" [data]="layer"
            appDescriptionToolTip [contentTemplate]="properties">
            <mat-icon>contact_support</mat-icon>
        </button>
        <button mat-icon-button (click)="handleDeleteClick(layer, $event)" [color]="!isBroken ? '' : 'warn'">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </div>
</div>
<div class="layer-control-container" *ngIf="hasNoMatch">
    Layer to Book connection is broken.
</div>

<ng-template #properties let-data="data">

    <div class="property-box">

        <div class="box">
            <b>Properties</b>
            @if (data.isProjected) {
                <app-form-field label="Projected From">
                    <ng-container formFieldControl>
                        {{ data.projectionStartTime | spacePadded }}
                    </ng-container>
                </app-form-field>
            }
            
            <app-form-field label="Visible">
                <ng-container formFieldControl>
                    {{ data.properties.isInView }}
                </ng-container>
            </app-form-field>
            
            <app-form-field label="Projection End TIme">
                <ng-container formFieldControl>
                    {{ data.properties.endTime }}
                </ng-container>
            </app-form-field>
        </div>
        
        @if (data.animation) {
            <div class="box">
                <b>Animation</b>
                <app-form-field label="Duration">
                    <ng-container formFieldControl>
                        {{ data.animation.duration }}
                    </ng-container>
                </app-form-field>
        
                <app-form-field label="Delay">
                    <ng-container formFieldControl>
                        {{ data.animation.delay }}
                    </ng-container>
                </app-form-field>
                
                <app-form-field label="Iteration Count">
                    <ng-container formFieldControl>
                        {{ data.animation.iterationCount }}
                    </ng-container>
                </app-form-field>
                
                <app-form-field label="Direction">
                    <ng-container formFieldControl>
                        {{ data.animation.direction }}
                    </ng-container>
                </app-form-field>
                
                <app-form-field label="Timing Function">
                    <ng-container formFieldControl>
                        {{ data.animation.timingFunction }}
                    </ng-container>
                </app-form-field>
                
                <app-form-field label="Fill Mode">
                    <ng-container formFieldControl>
                        {{ data.animation.fillMode }}
                    </ng-container>
                </app-form-field>
            </div>
        }
        
        @if (data.repeating) {
            <div class="box">
                <b>Repeat</b>
                <app-form-field label="Start Repeat From">
                    <ng-container formFieldControl>
                        {{ data.repeating.repeatingStartTime }}
                    </ng-container>
                </app-form-field>
                    
                <app-form-field label="Interval (s)">
                    <ng-container formFieldControl>
                        {{ data.repeating.interval }}
                    </ng-container>
                </app-form-field>
                    
                <app-form-field label="Count">
                    <ng-container formFieldControl>
                        {{ data.repeating.count }}
                    </ng-container>
                </app-form-field>
            </div>
        }
    </div>

</ng-template>
