<div class="layer-control-container">

    <div class="action-buttons">
        
        <!-- Sorting Flip -->
        <app-sorting-button [sortBy]="sortBy" (onClick)="toggleSortBy()"></app-sorting-button>

        <div class="spacer"></div>

        <!-- Add -->
        <button mat-icon-button color="primary" (click)="loadAddMemberPopup()">
            <mat-icon>add_circle</mat-icon>
        </button>
    </div>
    <div class="layers">
        <mat-divider></mat-divider>
        @for (member of memberService.members.value | sort:sortBy; track member) {
            <app-member-display [member]="member" [isSelected]="compareSelectedMembers(member)"
                (onCLick)="handleMemberClick(member)"
                (onEdit)="loadEditMemberPopup($event)" (onDelete)="handleDeleteConfirmationPopup(member)">
            </app-member-display>
        }
    </div>
</div>