<div class="image-upload-container" *ngIf="pictureFormControl">
    <mat-form-field class="image-upload-field">
        <mat-label>Image</mat-label>
        <input matInput type="text" [value]="pictureFormControl.value" placeholder="Select Image">
        <input id="fileInput" type="file" [formControl]="pictureControl" (change)="handlePictureUpload($event)">
        @if (pictureControl.value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="resetPictureControl()">
            <mat-icon>close</mat-icon>
        </button>
        }
    </mat-form-field>

    <div class="image-display" *ngIf="pictureFormControl.value">
        <app-image-icon [image]="pictureFormControl.value"></app-image-icon>
    </div>
</div>