<div class="add-edit-member">
    <app-popup-header [title]="popupTitle" (onCloseTrigger)="dialogRef.close()">
    </app-popup-header>
    <br>

    <form [formGroup]="memberForm" class="form" (ngSubmit)="onSubmit()">

        <div class="member-form">

            <mat-form-field class="name-field">
                <mat-label>Member Name</mat-label>
                <input matInput type="text" formControlName="name">
                @if (memberNameCtrl.value) {
                <button matSuffix mat-icon-button aria-label="Clear" (click)="memberNameCtrl.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field>

            <app-picture-upload [pictureFormControl]="imageCtrl"></app-picture-upload>

            <div class="options" formArrayName="options">
                <fieldset>
                    <legend align="right">
                        <span class="options-header">
                            Options:
                        </span>
                        <button mat-icon-button type="button" (click)="addNewOption()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </legend>
                    @for (optionControl of optionsFormArray.controls; track optionControl; let idx = $index) {
                        <fieldset [formGroupName]="idx" class="option">
                            <legend>{{ optionControl.value.name ? optionControl.value.name : ('Option ' + (idx + 1)) }}</legend>
                            <legend align="right">
                                <button mat-icon-button type="button" (click)="optionControl.value.optionId ? handleRemoveOptionClick(idx) : removeOption(idx)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </legend>

                            <div class="option-form">

                                <mat-form-field class="name-field">
                                    <mat-label>Option Name</mat-label>
                                    <input matInput type="text" formControlName="name">
                                </mat-form-field>

                                
                                <app-picture-upload [pictureFormControl]="getImageControl(idx)"></app-picture-upload>

                            </div>
                        </fieldset>
                    }
                </fieldset>
            </div>
        </div>

        <div class="member-action">
            <button mat-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
            &nbsp;
            <button mat-raised-button type="submit" color="primary" [disabled]="!memberForm.valid">Save</button>
        </div>
    </form>
</div>