.add-edit-member {
    width: 100%;
    height: 100%;

    .form {
        display: flex;
        flex-direction: column;
        height: calc(100% - 85px);

        ::ng-deep .mat-mdc-text-field-wrapper {
            background-color: white;
        }

        .member-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: calc(100% - 56px);

            .member-details {
                display: flex;
                width: calc(100% - 30px);
                padding: 10px;

                .name-field {
                    flex: 1 auto;
                }
            }

            .options {
                flex: 1 auto;
                overflow-y: auto;
                width: 100%;
                background-color: #eff0ff;

                .option {
                    background-color: white;
                    border-bottom: none;
                }

                .options-header {
                    position: absolute;
                    margin-top: -5px;
                    font-weight: bold;
                    text-decoration: underline;
                    left: 10px;
                    color: #3f51b5;
                    background: white;
                    padding: 3px;
                    z-index: 10;
                }

                .option-form {
                    display: flex;
                }
            }
        }

        .member-action {
            padding: 10px;
            text-align: end;
        }
    }
}