<div class="canvas-container" id="canvas-container" [ngClass]="{
    'no-image-painted': paintedLayers.length === 0
}">

    <div class="progress-spinner-container" *ngIf="fileService.fileProcessing">
        <mat-progress-spinner
            color="accent"
            class="progress-spinner"
            [mode]="fileService.renderingFrame ? 'determinate' : 'indeterminate'"
            [value]="fileService.progressPercent">
        </mat-progress-spinner>
    </div>

    @for (layer of paintedLayers | sort:'byLayerStack'; track layer.layerId;) {
        
        @switch (movieService.dictionaryMemberBook?.getOption(layer)?.type) {
            @case ('image') {
                <img
                    class="layer"
                    [attr.id]="layer.layerId"
                    [src]="movieService.dictionaryMemberBook?.getOption(layer)?.file"
                    [style]="(layer | layerStyleString) + (layer | layerAnimationString) + 'animation-play-state: paused !important; '"
                    [ngClass]="{
                        'image-hidden': !layer.properties.isInView,
                        'layer': !timelineService.playing && !recordingService.recording.value,
                        'selected-layer': movieService.selectedLayer?.layerId === layer.layerId
                    }"
                    (click)="handleLayerClick(layer)"
                >
            }

            @case ('video') {
                <video
                    class="layer"
                    [attr.id]="layer.layerId"
                    [src]="movieService.dictionaryMemberBook?.getOption(layer)?.file"
                    [style]="(layer | layerStyleString) + (layer | layerAnimationString) + 'animation-play-state: paused !important; '"
                    [ngClass]="{
                        'image-hidden': !layer.properties.isInView,
                        'layer': !timelineService.playing && !recordingService.recording.value,
                        'selected-layer': movieService.selectedLayer?.layerId === layer.layerId
                    }"
                    (click)="handleLayerClick(layer)">
                </video>
            }
        }
    }

    <div class="canvas-video" id="canvas-video" *ngIf="videoURLToPlay">
        <button type="button" mat-icon-button class="close-video" (click)="hideMovie()">
            <mat-icon>close</mat-icon>
        </button>
        <video [src]="videoURLToPlay" controls></video>
    </div>
</div>

@for(audioOption of audioLayers; track audioOption.layerId; let index = $index;) {
    @if (audioOption.currentTimeInRange) {
        <div style="position: fixed; z-index: 1000000; left: 100;" [style.top.px]="50 * index">
            <audio #audioCtrl
                [attr.id]="audioOption.layerId"
                [src]="audioOption.file"
                controls autoplay=""
                webkit-playsinline="true"
                playsinline="true"
                muted="muted">
            </audio>
        </div>
    }
}