<div class="canvas-container" id="canvas-container">

    <div class="progress-spinner-container" *ngIf="fileService.fileProcessing">
        <mat-progress-spinner
            color="accent"
            class="progress-spinner"
            [mode]="fileService.renderingFrame ? 'determinate' : 'indeterminate'"
            [value]="fileService.progressPercent">
        </mat-progress-spinner>
    </div>

    @for (layer of paintedLayers; track layer;) {
        <img
            [attr.id]="layer.layerId"
            [src]="movieService.dictionaryMemberBook[layer.memberId]?.options?.[layer.memberOptionId]?.image"
            [style]="(layer | layerStyleString) + (layer | layerAnimationString) + (recordingService.animationPausedForCapture.value | animationPause)"
            [ngClass]="{
                'image-hidden': !layer.properties.isInView
            }"
        >
    }

    <div class="canvas-video" id="canvas-video" *ngIf="videoURLToPlay">
        <button type="button" mat-icon-button class="close-video" (click)="hideMovie()">
            <mat-icon>close</mat-icon>
        </button>
        <video [src]="videoURLToPlay" controls></video>
    </div>
</div>