<div class="canvas-container" id="canvas-container">
    @for (layer of paintedLayers; track layer;) {
        <img
            [src]="movieService.dictionaryMemberBook[layer.memberId].options[layer.memberOptionId].image"
            [style]="(layer | layerStyleString) + (layer | layerAnimationString)"
            [ngClass]="{
                'animation-paused': recordingService.animationPausedForCapture.value
            }"
        >
    }

    <div class="canvas-video" id="canvas-video" *ngIf="true">
    </div>
</div>