<div class="confirmation-container">
    <app-popup-header [title]="data && data.title ? data.title : 'Confirm Delete'" (onCloseTrigger)="dialogRef.close(false)">
    </app-popup-header>

    <div class="confirm-message">
        {{ data && data.message ? data.message : 'Are you sure to delete this?' }}
    </div>

    <div class="confirm-action">
        <button mat-raised-button (click)="dialogRef.close(false)">
            {{ data && data.cancelDisplay ? data.cancelDisplay : 'Cancel' }}
        </button>
        &nbsp;
        <button mat-raised-button color="primary" (click)="dialogRef.close(true)">
            {{ data && data.okDisplay ? data.okDisplay : 'Delete' }}
        </button>
    </div>

</div>