<mat-tab-group animationDuration="500ms" class="control-tab-group" *ngIf="layer">

    <!--  Styles-->
    <mat-tab label="Styles">
        <app-styles
            [time]="time"
            [endTime]="endTime"
            [properties]="layer.properties"
            [isProjected]="layer.isProjected"
            (onCancel)="onCancel.emit()"
            (onSave)="handleOnStyleSave($event)">
        </app-styles>
    </mat-tab>

    <!--  Animations-->
    <mat-tab label="Animations">
        <app-animations
        [time]="time"
        [endTime]="endTime"
        [existingProperties]="layer.properties"
        [animation]="layer.animation"
        [isProjected]="layer.isProjected"
        (onCancel)="onCancel.emit()"
        (onSave)="handleOnAnimationSave($event)">
    </app-animations>
    </mat-tab>
</mat-tab-group>