
<app-player>
  <app-time-line timeLine></app-time-line>

  <app-canvas canvas></app-canvas>

  <ng-container control>
    <mat-tab-group animationDuration="500ms" class="control-tab-group">

      <!-- My Book tab -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="control-tab">
            <div>{{ memberService.memberBookName }}</div>
            <div class="version">{{ memberService.versionNoString }}</div>
          </div>
        </ng-template>
        <app-member-control></app-member-control>
      </mat-tab>

      <!-- Layers of My Movie for Selected Time -->
      <mat-tab label="Movie">
        <ng-template mat-tab-label *ngIf="movieService.movie">
          <div class="control-tab">
            <div>{{ movieService.movie.movieName }}</div>
            <div class="version">{{ movieService.versionNoString }}</div>
          </div>
        </ng-template>
        <app-layer-control></app-layer-control>
      </mat-tab>
    </mat-tab-group>
  </ng-container> 
</app-player>
<!-- <router-outlet /> -->
