
<app-player
  [layer2]="memberService.selectedMember ? true : false"
  [layer3]="movieService.selectedLayer ? true : false">

  <app-time-line timeLine>
  </app-time-line>

  <app-canvas canvas></app-canvas>

  <ng-container control>
    <mat-tab-group [selectedIndex]="selectedIndex"
    animationDuration="500ms" class="control-tab-group"
    (selectedTabChange)="handleTabChange($event)">

      <!-- My Book tab -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="control-tab">
            <div>{{ memberService.memberBookName }}</div>
            <div class="version">{{ memberService.versionNoString }}</div>
          </div>
        </ng-template>
        <app-member-control></app-member-control>
      </mat-tab>

      <!-- Layers of My Movie for Selected Time -->
      <mat-tab label="Movie">
        <ng-template mat-tab-label *ngIf="movieService.movie">
          <div class="control-tab">
            <div>{{ movieService.movie.movieName }}</div>
            <div class="version">{{ movieService.versionNoString }}</div>
          </div>
        </ng-template>
        <app-layer-control></app-layer-control>
      </mat-tab>

      <!-- Download Upload -->
      <!-- <mat-tab label="Save">
        <ng-template mat-tab-label>
          <button mat-icon-button>
            <mat-icon>save</mat-icon>
          </button>
        </ng-template>
      </mat-tab> -->
    </mat-tab-group>
  </ng-container>


  <app-popup-header controlHeader2 *ngIf="memberService.selectedMember"
  [title]="memberService.selectedMember.name" (onCloseTrigger)="memberService.resetSelectedRecord()">
  </app-popup-header>
  <div  class="list-container" control2 *ngIf="memberService.selectedMember">
      @for (option of memberService.selectedMember.options; track option) {
          <app-member-option-display [option]="option" (addToTimeLine)="addOptionToMovieTimeLine(memberService.selectedMember, option)">
          </app-member-option-display>
      }
  </div>

  <app-popup-header controlHeader3 *ngIf="movieService.selectedLayer"
  [title]="'Layer ' + movieService.selectedLayer.properties.stackPosition" (onCloseTrigger)="movieService.resetSelectedLayer()">
  </app-popup-header>
  <div class="list-container" control3 *ngIf="movieService.selectedLayer">
      <app-layer-properties
      [time]="movieService.selectedLayerTime || movieService.selectedLayerTime === 0 ? movieService.selectedLayerTime : timelineService.endTime.value"
      [endTime]="timelineService.endTime.value"
      [layer]="movieService.selectedLayer"
      [layerMember]="movieService.dictionaryMemberBook[movieService.selectedLayer.memberId].member" 
      [layerOption]="movieService.dictionaryMemberBook[movieService.selectedLayer.memberId].options[movieService.selectedLayer.memberOptionId]"
      (onCancel)="movieService.resetSelectedLayer()"
      (onSave)="saveLayer(movieService.selectedLayer, $event)">
      </app-layer-properties>
  </div>
</app-player>
<!-- <router-outlet /> -->
