<div class="video-display-container" *ngIf="video" matRipple (click)="onClick.emit()"
    [ngClass]="{
        'selected': isSelected
    }">
    <div class="image-display">
        <!-- <app-image-icon [image]="video.image"></app-image-icon> -->
         <mat-icon>video_camera_back</mat-icon>
    </div>
    <div class="video-name">
        @if (video.name) {
            {{ video.name }}
        } @else {
            {{ video.createdOn | date:'dd MMM YY' }}
        }
    </div>
    <div class="action">
        <div class="video-length">
            {{ video.videoLength }} s
        </div>
        <button mat-icon-button (click)="downloadVideo($event)">
            <mat-icon>
                download
            </mat-icon>
        </button>
        <button mat-icon-button (click)="handleDeleteClick(video, $event)">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </div>
</div>