<div class="member-display-container" *ngIf="member" matRipple (click)="onCLick.emit()"
    [ngClass]="{
        'selected': isSelected
    }">
    <div class="image-display">
        <app-option-icon [file]="member.image" optionType="image" (onIconClick)="onIconClick.emit()"></app-option-icon>
    </div>
    <div class="member-name">
        <sub> ({{ member.options.length }}) </sub>
        {{ member.name }}
    </div>
    <div class="action">
        <button mat-icon-button (click)="handleDeleteClick(member, $event)">
            <mat-icon>
                delete
            </mat-icon>
        </button>
        <button mat-icon-button (click)="handleEditClick(member, $event)">
            <mat-icon>
                edit
            </mat-icon>
        </button>
    </div>
</div>