.member-display-container {
    width: 100%;
    display: flex;

    .image-display {
        width: 25px;
        height: 25px;
        min-width: 25px;
        min-height: 25px;
        padding: 3px;
        margin: auto;
        cursor: pointer;
    }

    .member-name {
        flex: 1 auto;
        margin: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    .action {
        display: flex;
    }

    &:hover {
        background: rgb(94, 186, 46);
        background: linear-gradient(274deg, rgba(94, 186, 46, 0.13778011204481788) 15%, rgba(94, 186, 46, 0.891281512605042) 100%);
    }
}