@import '../../styles/style-constants.scss';

.member-display-container {
    width: 100%;
    display: flex;
    font-size: $tab-heading-font-size;

    .image-display {
        width: 25px;
        height: 25px;
        min-width: 25px;
        min-height: 25px;
        padding: 3px;
        margin: auto;
        cursor: pointer;
    }

    .member-name {
        flex: 1 auto;
        margin: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        padding-left: 3px;
        padding-left: 5px;
    }

    .action {
        display: flex;
    }

    &:hover {
        background: $primary-hover;
    }

    &.selected {
        background: $primary-selected;
        border-color: $primary-border-color;
        border-bottom: dashed 1px $primary-border-color;
    }
}