@import '../../../styles/style-constants.scss';

.option-display-container {
    width: 100%;
    display: flex;

    .image-display {
        width: 25px;
        height: 25px;
        min-width: 25px;
        min-height: 25px;
        padding: 3px;
        margin: auto;
        cursor: pointer;
    }

    .option-name {
        flex: 1 auto;
        margin: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    .action {
        display: flex;
    }

    &:hover {
        background: $secondary-hover;
    }
}