
<div class="movie-control-container" *ngIf="movieService.movie">

    <div class="action-buttons">
        <button mat-icon-button color="primary">
            <mat-icon>shutter_speed_add</mat-icon>
        </button>
        <div class="time">
            <pre class="time-display">{{ timelineService.currentTime.value | spacePadded:4 }}</pre>
        </div>

        <div class="spacer"></div>
        
        <!-- Download -->
        <button mat-icon-button color="primary">
            <mat-icon>download_2</mat-icon>
        </button>

        <!-- Upload -->
        <button mat-icon-button color="primary">
            <mat-icon>upload_2</mat-icon>
        </button>
    </div>

    <div class="movie-time-layers" *ngIf="movieService.movie.timeline[currentTime]" cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-divider></mat-divider>

        <div class="place-holder-layer" *cdkDragPlaceholder></div>
        
        @for (layer of movieService.movie.timeline[currentTime].layers; track layer;) {
            <app-layer-display cdkDrag [layer]="layer" [isSelected]="compareSelectedLayer(layer)"
            [layerMember]="dictionaryMemberBook[layer.memberId].member" 
            [layerOption]="dictionaryMemberBook[layer.memberId].option[layer.memberOptionId]"
            (onCLick)="handleLayerClick(layer)" (onDelete)="handleDeleteConfirmationPopup(layer)">
            </app-layer-display>
        }
    </div>

    <div class="layer-option" *ngIf="selectedLayer">
        <app-popup-header [title]="'Layer ' + selectedLayer.stackPosition" (onCloseTrigger)="resetSelectedLayer()">
        </app-popup-header>
        <div class="layer-list-container">
            <app-layer-properties [layer]="selectedLayer"
            [layerMember]="dictionaryMemberBook[selectedLayer.memberId].member" 
            [layerOption]="dictionaryMemberBook[selectedLayer.memberId].option[selectedLayer.memberOptionId]"
            (onCancel)="resetSelectedLayer()"
            (onSave)="handleUpdateLayer($event)">
            </app-layer-properties>
        </div>
    </div>
</div>