
<div class="movie-control-container" *ngIf="movieService.movie">

    <div class="action-buttons">

        <!-- Movie Setting -->
        <button mat-icon-button color="primary">
            <mat-icon>shutter_speed_add</mat-icon>
        </button>

        <div class="spacer"></div>
        
        <!-- Time -->
        <div class="time">
            <pre class="time-display">{{ timelineService.currentTime.value | spacePadded:4 }}</pre>
        </div>
    </div>

    <div class="movie-time-layers" *ngIf="movieService.movie.timeline[currentTime]" cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-divider></mat-divider>

        <div class="place-holder-layer" *cdkDragPlaceholder></div>
        
        @for (layer of movieService.movie.timeline[currentTime].layers; track layer;) {
            <app-layer-display cdkDrag [layer]="layer" [isSelected]="compareSelectedLayer(layer)"
            [layerMember]="movieService.dictionaryMemberBook[layer.memberId]?.member" 
            [layerOption]="movieService.dictionaryMemberBook[layer.memberId]?.options?.[layer.memberOptionId]"
            (onCLick)="handleLayerClick(layer)" (onDelete)="handleDeleteConfirmationPopup(layer)"
            (onGoToProjectionStart)="gotoProjectionStart(layer)">
            </app-layer-display>
        }
    </div>
</div>